---
import Text from "@components/ui/Text.astro";
import { getPathsIf, getSelfPRSentence } from "@integrations/docs";
import DocumentPage from "@layouts/document/DocumentPage.astro";
import { getStaticPaths as getBasePaths } from "@pages/index.astro";

export const getStaticPaths = async (
  ...params: Parameters<typeof getBasePaths>
) => {
  return getPathsIf("coverLetter", ...params);
};

const selfPRSentence = await getSelfPRSentence(Astro);
---

<DocumentPage>
  <Text title>Cover letter</Text>
  <p>{selfPRSentence}</p>
</DocumentPage>
