---
import Text from "@components/ui/Text.astro";
import {
  getDocumentsBasePaths,
  getPathsIf,
  getSelfPRSentence,
} from "@integrations/docs";
import DocumentPage from "@layouts/document/DocumentPage.astro";

export const getStaticPaths = async (
  ...params: Parameters<typeof getDocumentsBasePaths>
) => {
  return getPathsIf("coverLetter", ...params);
};

const selfPRSentence = await getSelfPRSentence(Astro);
---

<DocumentPage>
  <Text title>Cover letter</Text>
  <p>{selfPRSentence}</p>
</DocumentPage>
