---
import Text from "@components/ui/Text.astro";
import { getResumeProps } from "@integrations/content";
import {
  getDocumentsBasePaths,
  getPathsIf,
  getSelfPRSentence,
} from "@integrations/docs";
import DocumentPage from "@layouts/document/DocumentPage.astro";
import { sectionTitleClass } from "./resume.astro";

export const getStaticPaths = async (
  ...params: Parameters<typeof getDocumentsBasePaths>
) => {
  return getPathsIf("coverLetter", ...params);
};

const selfPRSentence = await getSelfPRSentence(Astro);

const { coverLetter } = await getResumeProps(Astro);
---

<DocumentPage>
  <Text title class={sectionTitleClass}>Cover letter</Text>
  <p>{typeof coverLetter === "string" ? coverLetter : selfPRSentence}</p>
</DocumentPage>
