---
import Text from "@components/ui/Text.astro";
import { getCertifications } from "@integrations/content";
import { capitalize, endDelimiter } from "@integrations/text";
import { getFormattedDates } from "./ResumeKnowHow.astro";

interface Props {
  maxCertifications?: number;
}

const { maxCertifications } = Astro.props;

const certifications = (await getCertifications())
  .filter(({ type, content }) => type === "award" && !content)
  .slice(0, maxCertifications);
---

<Text tag="h2" class="!-mt-4 !-mb-2">Extra</Text>
<ul class="list-none ps-0 mb-0">
  {
    certifications.map(async ({ id, date }) => {
      const [formattedDate] = await getFormattedDates(Astro, date);

      return (
        <li class="ps-0">
          <Text class="my-0">{endDelimiter(capitalize(id))}</Text>
          <Text tag="em" subtitle translateProps={{ disable: true }}>
            {formattedDate}
          </Text>
        </li>
      );
    })
  }
</ul>
