---
import Text from "@components/ui/Text.astro";
import {
  getPostListThreshold,
  getSortedPosts,
} from "@integrations/astro-server";
import { getCategory, getDevelopmentTime } from "@integrations/content";
import { i18n } from "@integrations/i18n-server";
import { capitalize } from "@integrations/text";
import { getDescription } from "@layouts/document/Document.astro";
import type { HTMLAttributes } from "astro/types";
import { getFormattedDates } from "./ResumeKnowHow.astro";

interface Props extends HTMLAttributes<"div"> {
  numberOfProjects?: number;
}

const { numberOfProjects, ...props } = Astro.props;

const projects = (
  await getSortedPosts(Astro, "projects", getPostListThreshold("projects"))
).slice(0, numberOfProjects);

const t = i18n(Astro);
---

<div {...props}>
  <Text tag="h2">{capitalize("selected personal projects")}</Text>
  <ul>
    {
      projects.map(async (project) => {
        const dates = await getFormattedDates(
          Astro,
          project.publishingDate.subtract(getDevelopmentTime(project)!),
          project.data.inDevelopment ? undefined : project.publishingDate
        );

        const category = await t(capitalize(getCategory(project)!));

        const comma = `${await t(",")} `;

        return (
          <li>
            <Text class="my-0">
              {getDescription(project, 1, true, "Design")}
            </Text>
            <Text tag="em" subtitle translateProps={{ disable: true }}>
              {category}
              {comma}
              {dates.join(" - ")}
            </Text>
          </li>
        );
      })
    }
  </ul>
</div>
