@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-2xl: 1800px;

  --text-shadow-sm: 0 1px 2px var(--tw-shadow-color);
  --text-shadow: 0 2px 4px var(--tw-shadow-color);
  --text-shadow-lg: 0 8px 16px var(--tw-shadow-color);
}

@utility text-shadow-sm {
  text-shadow: var(--text-shadow-sm);
}

@utility text-shadow {
  text-shadow: var(--text-shadow);
}

@utility text-shadow-lg {
  text-shadow: var(--text-shadow-lg);
}
