---
import Page from "@layouts/Page.astro";
import Bento from "@layouts/Bento.astro";
import Profile from "@components/index/Profile.astro";
import AllProjects from "@components/index/AllProjects.astro";
import AllThoughts from "@components/index/AllThoughts.astro";
import { getEntry } from "astro:content";
import Video from "@layouts/Video.astro";
import PostPreview from "@layouts/PostPreview.astro";
import TechPreview from "@components/index/TechPreview.astro";
import { getCollection } from "astro:content";
import { getLastModifiedTime } from "@layouts/Post.astro";
import dayjs from "dayjs";
import minMax from "dayjs/plugin/minMax";
import type { CollectionKey } from "astro:content";

const highlightThought = await getEntry("thoughts", "style");
const highlightProject = await getEntry("projects", "steelsilk-championship");

const getLatestEntry = async <C extends CollectionKey>(collection: C) => {
  const entries = await getCollection(
    collection,
    ({ data: { draft }, id }) =>
      !draft && id !== highlightThought.id && id !== highlightProject.id
  );

  const collectionDates = await Promise.all(
    entries.map(
      async ({ render }) =>
        getLastModifiedTime((await render()).remarkPluginFrontmatter)!
    )
  );

  dayjs.extend(minMax);

  return entries.length
    ? entries[collectionDates.indexOf(dayjs.min(collectionDates)!)]
    : undefined;
};

const latestThought = await getLatestEntry("thoughts");
const latestProject = await getLatestEntry("projects");

// TODO MOVE ALL THOUGHTS AND ALL PROJECTS INSIDE THEIR FILES (DO NOT KEEP THEM HERE ON INDEX)
---

<Page
  title="Game Designer"
  description="Max Hofer's game design portfolio and blog."
>
  <Bento>
    <Profile slot="1-medium" importance={1} />
    <Video
      slot="2-small"
      title="Showreel"
      youtubeID="m0KhK_J0LiQ"
      className="!aspect-[16/10]"
    />
    <PostPreview slot="3-small" entry={highlightThought} hideDate />
    <PostPreview
      slot="4-large"
      entry={highlightProject}
      importance={3}
      hideDate
    />
    <PostPreview slot="5-small" entry={latestThought} />
    <PostPreview slot="6-medium" entry={latestProject} importance={3} />
    <TechPreview slot="7-small" importance={1} />
    <PostPreview
      slot="8-large"
      readMore="projects"
      container
      readMoreText="See all projects"
    >
      <span slot="title" class="pl-8 2xl:pl-12">Projects</span>
      <AllProjects />
    </PostPreview>
    <PostPreview
      slot="9-medium"
      readMore="thoughts"
      container
      readMoreText="See all thoughts"
    >
      <span slot="title" class="pl-8 2xl:pl-12">Thoughts</span>
      <AllThoughts />
    </PostPreview>
  </Bento>
</Page>
