---
import Button from "@layouts/Button.astro";
---

<Button
  className="back-button !text-3xl fixed left-6 lg:left-8 bottom-6 lg:top-11 max-w-12 min-h-12"
  href="/"
  rounded
  openInCurrentPage
>
  <p class="mt-[-0.2rem] ml-[-0.1rem] lg:ml-[-0.2rem]">◂</p>
</Button>
<script>
  import { navigate } from "astro:transitions/client";

  addEventListener("astro:page-load", () => {
    document
      .querySelector("button.back-button")
      ?.addEventListener("click", () => navigate("/"));
  });
</script>
