---
import Button from "@layouts/Button.astro";
---

<Button
  className="back-button !rounded-full !text-3xl fixed left-6 lg:left-9 bottom-8 lg:top-12 max-w-10 max-h-10"
  href="/"
  openInCurrentPage
>
  <p class="mt-[-0.2rem] ml-[-0.1rem]">◂</p>
</Button>
<script>
  import { navigate } from "astro:transitions/client";

  addEventListener("astro:page-load", () => {
    document
      .querySelector("button.back-button")
      ?.addEventListener("click", () => navigate("/"));
  });
</script>
