---
import Button from "@layouts/Button.astro";

interface Props {
  className?: string;
  buttonName?: string;
}

const { className = "", buttonName } = Astro.props;
---

<Button
  className={`${buttonName ?? "back-button"} ${className} !text-3xl fixed left-6 lg:left-9 top-[calc(100dvh-5rem)] lg:top-12 max-w-14 lg:max-w-10 min-h-14 lg:min-h-fit lg:max-h-10 hover:scale-110 active:scale-75`}
  rounded
>
  <p class="mt-[-0.2rem] ml-[-0.1rem] lg:ml-[-0.2rem]">◂</p>
</Button>
<script>
  import { navigate } from "astro:transitions/client";

  const back = () => {
    if (document.referrer) {
      navigate("/");
    } else {
      // This code fixes Astro scroll restoration
      const { scrollX, scrollY } = history.state as {
        scrollX: number;
        scrollY: number;
      };

      sessionStorage.setItem(
        location.pathname,
        JSON.stringify({
          left: scrollX,
          top: scrollY,
        } satisfies ScrollToOptions)
      );

      history.back();
    }
  };

  document.addEventListener("astro:page-load", () =>
    document
      .querySelectorAll<HTMLButtonElement>("button.back-button")
      .forEach((button) => button.addEventListener("click", back))
  );

  document.addEventListener("astro:before-swap", () =>
    document
      .querySelectorAll<HTMLButtonElement>("button.back-button")
      .forEach((button) => button.removeEventListener("click", back))
  );
</script>
