---
import Picture from "@images/profile-picture.png";
import Link from "@layouts/Link.astro";
import Text from "@layouts/Text.astro";
import Button from "@layouts/Button.astro";
import LinkedIn from "@images/logos/linkedin.svg?raw";
import PostPreview from "@layouts/PostPreview.astro";
import type { ComponentProps } from "astro/types";
import Fullscreenable from "@layouts/Fullscreenable.astro";
import { Image } from "astro:assets";

interface Props {
  importance?: ComponentProps<typeof PostPreview>["importance"];
}

const { importance } = Astro.props;
---

<PostPreview importance={importance}>
  <div slot="header" class="flex items-center gap-x-4">
    <Fullscreenable
      className="!size-14 2xl:!size-20 !rounded-full hover:scale-125"
    >
      <Image
        src={Picture}
        class="rounded-full"
        alt="Close up of Max Ludovico Hofer"
        loading="eager"
      />
    </Fullscreenable>
    <div>
      <Text title>Max Ludovico Hofer</Text>
      <div class="flex gap-2 -ml-0.5 2xl:-ml-1">
        <Link
          href="https://linkedin.com/in/maxludovicohofer"
          className="!size-6 2xl:!size-12 drop-shadow-md hover:drop-shadow-lg active:drop-shadow"
          ><Fragment set:html={LinkedIn} /></Link
        >
      </div>
    </div>
  </div>
  Innovative game designer with experience in leadership, specializing in core mechanics,
  combat, AI and systems.
  <Button slot="footer" className="mt-2" href="/public-resume.pdf"
    >View my resume</Button
  >
</PostPreview>
