---
import Picture from "@images/profile-picture.png";
import Link from "@layouts/Link.astro";
import Text from "@layouts/Text.astro";
import Button from "@layouts/Button.astro";
import LinkedIn from "@images/logos/linkedin.svg?raw";
import PostPreview from "@layouts/PostPreview.astro";
import type { ComponentProps } from "astro/types";
import FullImage from "@layouts/FullImage.astro";

interface Props {
  importance?: ComponentProps<typeof PostPreview>["importance"];
}

const { importance } = Astro.props;
---

<PostPreview importance={importance}>
  <div slot="header" class="flex items-center gap-x-4">
    <FullImage
      src={Picture}
      alt="Close up of Max Ludovico Hofer"
      className="!size-14 2xl:!size-20 !rounded-full"
      imageClassName="rounded-full"
      loading="eager"
    />
    <div>
      <Text title>Max Ludovico Hofer</Text>
      <div class="flex gap-2 -ml-0.5 2xl:-ml-1">
        <Link
          href="https://linkedin.com/in/maxludovicohofer"
          className="size-6 2xl:size-12 drop-shadow-md hover:drop-shadow-lg active:drop-shadow"
          ><Fragment set:html={LinkedIn} /></Link
        >
      </div>
    </div>
  </div>
  <Fragment slot="title">Creating fun is both a science and an art</Fragment>
  Innovative game designer with experience in leadership, specializing in core mechanics,
  combat, AI and systems.
  <br />
  <br />
  I strive to design deeply involving experiences which evolve the concept of videogame,
  using the latest tech and research available.
  <Button href="/public-resume.pdf" className="mt-10">View my resume</Button>
</PostPreview>
