---
import { Image } from "astro:assets";
import Picture from "@images/profile-picture.png";
import Link from "@layouts/Link.astro";
import Text from "@layouts/Text.astro";
import Button from "@layouts/Button.astro";
import LinkedIn from "@images/logos/linkedin.svg?raw";
import Post from "@layouts/Post.astro";
---

<Post importance={1}>
  <div slot="header" class="flex items-center gap-x-4">
    <Image
      src={Picture}
      alt="Close up of Max Ludovico Hofer"
      class="rounded-full size-14 2xl:size-20"
      loading="eager"
    />
    <div>
      <Text title>Max Ludovico Hofer</Text>
      <div class="flex gap-2">
        <Link
          href="https://linkedin.com/in/maxludovicohofer"
          className="size-6 2xl:size-12"><Fragment set:html={LinkedIn} /></Link
        >
      </div>
    </div>
  </div>
  <Fragment slot="title">Creating fun is both a science and an art</Fragment>
  Innovative game designer with experience in leadership, specializing in core mechanics,
  combat, AI and systems.
  <br />
  <br />
  I strive to design deeply involving experiences which evolve the concept of videogame,
  using the latest tech and research available.
  <Button href="public-resume.pdf" className="mt-10">View my resume</Button>
</Post>
