---
import Button from "@layouts/Button.astro";
---

<div class="flex flex-col items-center text-center">
  <p
    class="text-3xl mt-6 2xl:text-7xl text-balance font-semibold lg:text-4xl text-zinc-950 dark:text-zinc-100"
  >
    Grab my résumé!
  </p>
  <p
    class="text-xl text-zinc-500 dark:text-zinc-300 2xl:text-3xl mt-6 md:max-w-xs lg:max-w-none"
  >
    Unlock the doors to explore the rich tapestry of my professional journey and
    accomplishments.
  </p>
  <Button className="w-full mt-8">Download my CV</Button>
</div>
