---
import Card from "@layouts/Card.astro";
---

<div
  class="grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4 gap-4"
>
  <Card className="lg:row-span-2">
    <slot name="1-medium" />
  </Card>
  <Card>
    <slot name="2-small" />
  </Card>
  <Card>
    <slot name="3-small" />
  </Card>
  <Card className="lg:row-start-2 lg:row-span-2 lg:col-start-2 lg:col-span-2">
    <slot name="4-large" />
  </Card>
  <Card className="lg:row-start-3">
    <slot name="5-small" />
  </Card>
  <Card className="lg:row-span-2">
    <slot name="6-medium" />
  </Card>
  <Card className="lg:row-start-4 lg:col-span-2">
    <slot name="7-medium" />
  </Card>
  <Card className="lg:row-start-4">
    <slot name="8-small" />
  </Card>
  <Card className="lg:row-span-2 lg:col-span-2 xl:col-span-1">
    <slot name="9-large" />
  </Card>
</div>
