---
import Card from "@layouts/Card.astro";
import { listPreviewContainerClass } from "./post/PostListPreview.astro";
---

<div class="grid min-h-screen grid-cols-1 gap-4 p-4 lg:grid-cols-3">
  {
    Astro.slots.has("1-small") && (
      <Card
        class={
          Astro.slots.has("2-medium") || Astro.slots.has("4-small")
            ? ""
            : "col-span-full"
        }
      >
        <slot name="1-small" />
      </Card>
    )
  }
  {
    Astro.slots.has("2-medium") && (
      <Card class="max-h-[80dvh] !p-0 lg:col-span-2">
        <slot name="2-medium" />
      </Card>
    )
  }
  {
    Astro.slots.has("3-large") && (
      <Card
        container
        class={`lg:min-h-[75rem] 2xl:min-h-[95rem] ${listPreviewContainerClass} lg:row-span-3 ${(Astro.slots.has("4-small") && Astro.slots.has("2-medium")) || Astro.slots.has("5-medium") ? "lg:col-span-2" : "lg:col-span-full"}`}
      >
        <slot name="3-large" />
      </Card>
    )
  }
  {
    Astro.slots.has("4-small") && (
      <Card
        class={`${Astro.slots.has("2-medium") ? `lg:col-start-3 lg:row-start-2 ${Astro.slots.has("5-medium") ? "" : "lg:row-span-3"}` : "row-start-2 lg:row-start-1 lg:col-start-2 lg:col-span-2 [&_ol.grid]:lg:grid-cols-3"}`}
        {...(Astro.slots.has("2-medium") ? {} : { "data-wide": true })}
      >
        <slot name="4-small" />
      </Card>
    )
  }
  {
    Astro.slots.has("5-medium") && (
      <Card container class={`lg:row-span-2 ${listPreviewContainerClass}`}>
        <slot name="5-medium" />
      </Card>
    )
  }
</div>
