---
interface Props {
  inline?: boolean;
  readMore?: boolean;
  className?: string;
}

const { inline, readMore, className } = Astro.props;

const finalClass = `${readMore ? "" : "rounded-lg"} h-10 2xl:h-14 bg-zinc-950 hover:bg-yellow-600 dark:bg-zinc-100 dark:hover:bg-yellow-300 text-sm 2xl:text-lg font-semibold text-zinc-100 dark:text-zinc-950 duration-50 focus:ring-2 focus:ring-offset-2 focus:ring-inline-flex ${inline ? "" : "w-full"} ${className}`;
---

<button type="button" class={finalClass}>
  <slot />
</button>
