---
import Button from "./Button.astro";

interface Props {
  fill?: boolean;
  readMore?: boolean;
  className?: string;
}

const { fill, readMore, className = "" } = Astro.props;

const outerClass = `rounded-3xl bg-zinc-100 dark:bg-zinc-900 shadow-xl dark:shadow-dark overflow-hidden relative group ${className}`;

const innerClass = `size-full ${fill ? "" : "p-8 2xl:p-12"}`;

// TODO EVALUATE READ TIME AUTOMATICALLY BASED ON POST LENGTH
---

<div class={outerClass}>
  <div class={innerClass}>
    <slot />
  </div>
  {
    readMore && (
      <Button readMore className="absolute bottom-0">
        Read in 1 min
        <br />▼
      </Button>
    )
  }
</div>
