---
interface Props {
  fill?: boolean;
  className?: string;
}

const { fill, className = "" } = Astro.props;

const outerClass = `rounded-3xl bg-zinc-100 dark:bg-zinc-900 shadow-xl dark:shadow-dark overflow-hidden relative group max-h-[30rem] lg:max-h-full z-10 ${className}`;

const innerClass = `size-full ${fill ? "" : "p-8 2xl:p-12"}`;
---

<div class={outerClass}>
  <div class={innerClass}>
    <slot />
  </div>
</div>
