---
import Button from "./Button.astro";

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<Button
  noFocus
  noRounding
  fullHeight
  className={`can-fullscreen ${className} flex items-center justify-center overflow-hidden !bg-transparent`}
>
  <slot />
</Button>
<script>
  import { activateModal, removeFromClass, getCssValue } from "src/utils";

  function setFullscreenMedia(this: HTMLButtonElement) {
    const modal = document.querySelector("div.modal")!;

    if (modal.childElementCount) return;

    const fullscreenMedia = this.querySelector("img, iframe, video")?.cloneNode(
      true
    ) as HTMLImageElement | HTMLVideoElement | HTMLIFrameElement | undefined;

    if (!fullscreenMedia) return;

    fullscreenMedia.className = removeFromClass(fullscreenMedia.className, [
      "size",
      "w",
      "h",
      "pointer-events",
      "object",
    ]);

    if (fullscreenMedia.tagName === "IFRAME") {
      const videoAspectEnum = getCssValue(fullscreenMedia, "aspect");
      const aspectRatio = videoAspectEnum === "16/10" ? 16 / 10 : 16 / 9;

      const observer = new ResizeObserver((entries) =>
        entries.forEach(({ target }) => {
          // Follows modal slot expansion
          const expandWidth = ["h-[90dvh]", "lg:h-[80dvh]"];
          const expandHeight = ["w-[90dvw]", "lg:w-[80dvw]"];

          fullscreenMedia.classList.remove(...expandWidth, ...expandHeight);
          fullscreenMedia.classList.add(
            ...(target.clientWidth / target.clientHeight > aspectRatio
              ? expandWidth
              : expandHeight)
          );
        })
      );

      observer.observe(
        document.querySelector<HTMLDivElement>("div.modal-slot")!
      );

      const startTime = getCssValue(fullscreenMedia, "current-time");

      if (startTime) {
        fullscreenMedia.src = fullscreenMedia.src.replace(
          /start=\d+/,
          `start=${startTime}`
        );
      }

      fullscreenMedia.src = fullscreenMedia.src
        .replace("controls=0", "controls=1")
        .replace("disablekb=1", "disablekb=0")
        .replace("autoplay=0", "autoplay=1");
    } else {
      fullscreenMedia.classList.add("size-full");
    }

    activateModal(fullscreenMedia);
  }

  document.addEventListener("astro:page-load", () =>
    document
      .querySelectorAll<HTMLButtonElement>("button.can-fullscreen")
      .forEach((fullImage) =>
        fullImage.addEventListener("click", setFullscreenMedia)
      )
  );

  document.addEventListener("astro:before-swap", () =>
    document
      .querySelectorAll<HTMLButtonElement>("button.can-fullscreen")
      .forEach((fullImage) =>
        fullImage.removeEventListener("click", setFullscreenMedia)
      )
  );
</script>
