---
interface Props {
  href?: string | undefined;
  className?: string;
  navigate?: boolean | undefined;
  noStyle?: boolean;
}

const { href, className = "", navigate, noStyle } = Astro.props;
---

<a
  class={`${className} ${noStyle ? "" : "underline hover:text-yellow-400 active:text-yellow-600 dark:hover:text-yellow-200 dark:active:text-yellow-400 hover:scale-125 hover:text-base 2xl:hover:text-2xl active:scale-90 active:text-xs 2xl:active:text-lg duration-150"}`}
  href={href}
  target={navigate ? "_self" : "_blank"}
>
  <slot />
</a>
