---
interface Props {
  href?: string;
  className?: string;
}

const { href, className } = Astro.props;

const finalClass = `underline text-zinc-500 hover:text-zinc-700 dark:text-zinc-400 dark:hover:text-zinc-200 ${className}`;
---

<a class={finalClass} href={href} target="_blank">
  <slot />
</a>
