---
import BackButton from "@components/BackButton.astro";
---

<div class="modal-slot fixed inset-0 pointer-events-none">
  <div
    class="modal-back size-full bg-white/85 dark:bg-black/85 opacity-0 duration-700"
  >
  </div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center pointer-events-none"
  >
    <div
      class="modal max-h-[90%] lg:max-h-[80%] max-w-[90%] lg:max-w-[80%] rounded-3xl overflow-hidden flex flex-col items-center justify-center"
    >
    </div>
  </div>
  <BackButton buttonName="modal-back" className="opacity-0" />
</div>
<script>
  const deactivateModal = () => {
    const modalSlot = document.querySelector<HTMLDivElement>("div.modal-slot")!;
    modalSlot.classList.remove("!pointer-events-auto");

    const backButton =
      modalSlot.querySelector<HTMLButtonElement>("button.modal-back")!;
    backButton.classList.remove("!opacity-100");

    const modal = modalSlot.querySelector<HTMLDivElement>("div.modal")!;
    modal.replaceChildren();

    const backdrop = modalSlot.querySelector<HTMLDivElement>("div.modal-back")!;
    backdrop.classList.remove("!opacity-100");
  };

  document.addEventListener("astro:page-load", () =>
    document
      .querySelectorAll<HTMLElement>(".modal-back")
      .forEach((element) =>
        element.addEventListener("click", () => deactivateModal())
      )
  );
</script>
