---
import BackButton from "@components/BackButton.astro";
import { Debug } from "astro:components";

// TODO PHASE 2 USE DIALOG INSTEAD OF DIV
---

<div class="modal-slot fixed inset-0 pointer-events-none">
  <div
    class="modal-back size-full bg-white/85 dark:bg-black/85 opacity-0 duration-700"
  >
  </div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center pointer-events-none"
  >
    <div
      class="modal max-h-[90dvh] lg:max-h-[80dvh] max-w-[90dvw] lg:max-w-[80dvw] rounded-3xl overflow-hidden flex flex-col items-center justify-center"
    >
    </div>
    <Debug />
    <style>
      .modal {
        /* Used for 3D perspective */
        transform: perspective(5000px) rotateY(var(--rotateX))
          rotateX(var(--rotateY));
      }
    </style>
  </div>
  <BackButton buttonName="modal-back" class="opacity-0" />
</div>
<script>
  import type { LiteYTEmbed } from "lite-youtube-embed";
  import { deactivateModal } from "src/utils";

  const closeModal = async () => {
    deactivateModal();

    // Restart paused video
    const originalMedia = document.querySelector<LiteYTEmbed>(
      "lite-youtube[data-modal-original]"
    );

    if (!originalMedia) return;

    originalMedia.removeAttribute("data-modal-original");
    const originalPlayer = (await originalMedia.getYTPlayer())!;
    originalPlayer.playVideo();
  };

  document.addEventListener("astro:page-load", () =>
    document
      .querySelectorAll<HTMLElement>(".modal-back")
      .forEach((element) => element.addEventListener("click", closeModal))
  );

  document.addEventListener("astro:before-swap", () =>
    document
      .querySelectorAll<HTMLElement>(".modal-back")
      .forEach((element) => element.removeEventListener("click", closeModal))
  );
</script>
