---
import BackButton from "@components/BackButton.astro";

// TODO PHASE 2 NON CLICKABLE SECTION SHOULD INHERIT ROUNDED FROM CONTENT
---

<div class="modal-slot fixed inset-0 pointer-events-none">
  <div
    class="modal-back size-full bg-white/85 dark:bg-black/85 opacity-0 duration-700"
  >
  </div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center pointer-events-none"
  >
    <div class="modal pointer-events-auto"></div>
  </div>
  <div class="opacity-0">
    <BackButton buttonName="modal-back" />
  </div>
</div>
<script>
  const deactivateModal = () => {
    const modalSlot = document.querySelector<HTMLDivElement>("div.modal-slot")!;
    modalSlot.classList.remove("!pointer-events-auto");

    const backButton = modalSlot.lastElementChild!;
    backButton.classList.remove("!opacity-100");

    const modal = backButton.previousElementSibling!.firstElementChild!;
    modal.replaceChildren();

    const backdrop = modalSlot.firstElementChild!;
    backdrop.classList.remove("!opacity-100");
  };

  document.addEventListener("astro:page-load", () =>
    document
      .querySelectorAll<HTMLElement>(".modal-back")
      .forEach((element) =>
        element.addEventListener("click", () => deactivateModal())
      )
  );
</script>
