---
import Text from "@layouts/Text.astro";
import type { CollectionEntry } from "astro:content";
import Button from "./Button.astro";

interface Props {
  content?: CollectionEntry<"thoughts"> | CollectionEntry<"projects">;
  importance?: 1 | 2 | 3;
}

const { importance = 2, content } = Astro.props;

const { Content, remarkPluginFrontmatter } = content
  ? await content.render()
  : { Content: undefined };

// It is assumed that a person reads for approximately 1 minute before clicking read more
const minutesAlreadySpentReading = 1;

const minutesToRead = remarkPluginFrontmatter
  ? Math.max(
      Math.round(remarkPluginFrontmatter.minutesRead) -
        minutesAlreadySpentReading,
      1
    )
  : 0;

const titleClass =
  importance == 1
    ? "text-3xl lg:text-2xl 2xl:text-3xl"
    : importance == 2
      ? "text-3xl 2xl:text-5xl"
      : "text-3xl lg:text-5xl 2xl:text-8xl";
---

{
  Astro.slots.has("header") && (
    <div class="text-sm 2xl:text-xl leading-6 mb-6">
      <slot name="header" />
    </div>
  )
}
<Text title className={titleClass}
  >{content?.data.title ?? <slot name="title" />}</Text
>
<Text className="mt-6 text-xl 2xl:text-3xl" markdown={!!Content}
  >{Content ? <Content /> : <slot />}</Text
>
{
  content && (
    <Button readMore className="absolute bottom-0 -mx-8">
      Read in {minutesToRead} min
      <br />▼
    </Button>
  )
}
