---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  container?: boolean | undefined;
  noRounding?: boolean;
}

const { class: className = "", container, noRounding, ...props } = Astro.props;
---

<button
  class={`${className} group bg-gradient-to-t from-25% to-80% from-zinc-100 hover:from-yellow-400 hover:bg-yellow-400/50 active:from-yellow-600 active:bg-yellow-600/50 dark:from-zinc-900 dark:hover:from-yellow-200 dark:hover:bg-yellow-200/50 dark:active:from-yellow-400 dark:active:bg-yellow-400/50 text-zinc-950 dark:text-zinc-100 hover:text-zinc-950 h-24 2xl:h-32 ${noRounding ? "" : "rounded-3xl"}`}
  {...props}
  ><div
    class={`size-full flex flex-col justify-end pb-5 2xl:pb-6 group-hover:scale-110 group-active:scale-90 duration-150 ${
      container ? "" : "group-hover/card:animate-pulse"
    }`}
  >
    <slot />
  </div>
</button>
