---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className = "", ...props } = Astro.props;
---

<div class={`${className} dissolving`} {...props}><slot /></div>
<script>
  import { getPagePosition } from "@integrations/html";

  const updateContainer = (container: HTMLElement) => {
    const scrollPercent = Math.min(
      Math.max(scrollY - getPagePosition(container).top, 0) /
        container.offsetHeight,
      1
    );

    const parallaxSpeed = 6;
    const perfectDissolveSpeed = 0.22;
    const dissolveSpeed = perfectDissolveSpeed + 0.03;

    container.style.opacity = `${1 - scrollPercent * dissolveSpeed * parallaxSpeed}`;

    container.style.setProperty(
      "--tw-translate-y",
      `-${scrollPercent * parallaxSpeed}rem`
    );
    container.style.translate = `var(--tw-translate-x, 0) var(--tw-translate-y)`;
  };

  let containers: NodeListOf<HTMLElement>;

  const updateContainers = () => containers.forEach(updateContainer);

  document.addEventListener("astro:page-load", () => {
    containers = document.querySelectorAll<HTMLElement>(".dissolving");
    if (!containers.length) return;

    const observer = new ResizeObserver((entries) =>
      entries.forEach(({ target }) => updateContainer(target as HTMLElement))
    );
    containers.forEach((container) => observer.observe(container));

    addEventListener("scroll", updateContainers);
  });

  document.addEventListener("astro:before-swap", () =>
    removeEventListener("scroll", updateContainers)
  );
</script>
