---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  rounded?: boolean;
  fullHeight?: boolean;
  noRounding?: boolean;
}

const {
  class: className = "",
  rounded,
  fullHeight,
  noRounding,
  ...props
} = Astro.props;
---

<button
  class={`${className} group bg-zinc-950 hover:bg-yellow-400 active:bg-yellow-600 dark:bg-zinc-100 dark:hover:bg-yellow-200 dark:active:bg-yellow-400 text-zinc-100 dark:text-zinc-950 hover:text-zinc-950 hover:scale-105 active:scale-95 shadow-md ${fullHeight ? "" : "h-11 2xl:h-16"} ${rounded ? "rounded-3xl" : `${noRounding ? "" : "rounded-xl"}`}`}
  {...props}
  ><slot />
</button>
